<section class="testimonials" id="depoimentos">
	<div class="testimonials__container">
		<div class="tag">
			<p class="tag__text">depoimentos</p>
		</div>
		<h3 class="default__title">O que nossos clientes têm a dizer?</h3>
		<p class="default__desc">Confira o relato de marcas que tiveram suas óticas transformadas com as soluções da PWI Sistemas.</p>

		<div class="testimonials__content">
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					“As soluções da PWI trouxeram benefícios significativos para nosso negócio, melhorando a eficiência operacional, permitindo automação de tarefas,
					simplificando a gestão de dados e fornecendo insights para tomada de decisões.”
				</p>
				<div class="avatar">
					<div class="avatar__infos">
						<p class="avatar__title">Rodrigo Oliveira | Ótica Avenida</p>
					</div>
				</div>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					"Por se tratar de um sistema específico ao ramo óptico, a aderência <br />
					ao nosso negócio é total, facilitando o nosso dia a dia e a relação<br />
					com a equipe técnica, que está sempre pronta a ouvir as nossas demandas.”
				</p>
				<div class="avatar">
					<div class="avatar__infos">
						<p class="avatar__title">Sérgio Sá | Rodenstock</p>
					</div>
				</div>
			</div>
		</div>
		<div class="button--container">
			<a href="#" class="button bigger white">faça um teste grátis</a>
		</div>
	</div>
</section>
